



/* Quản lý phân công */



.khung-ql-phancong{
    height: max-content;
    padding: 20px 0;
    gap: 15px;
}
.khung-ql-phancong .noidung-ql-phancong{
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 6px 18px rgba(18, 117, 255, 0.06);
    border-radius: 4px;
}

.khung-ql-phancong .menu-ql-phancong{
    width: 220px;
    min-width: 180px;
    padding: 10px;
    background-color: #ffc61d;
    gap: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.khung-ql-phancong .menu-ql-phancong .tieude-menu{
    padding: 8px 10px;
    color: #ffffff;
    border-bottom: 2px solid #ffefef;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

.khung-ql-phancong .menu-ql-phancong ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px;
}


.khung-ql-phancong .menu-ql-phancong ul li .muc-menu,
.khung-ql-phancong .menu-ql-phancong ul li .muc-menu-active {
    padding: 10px 12px;
    font-weight: 500;
    font-size: 13px;
    color: white;
}

.khung-ql-phancong .menu-ql-phancong ul li .muc-menu:hover,
.khung-ql-phancong .menu-ql-phancong ul li .muc-menu-active {
    background-color: #f5f5f5;
    color: #eeb200;
    border-radius: 4px;
}



.khung-ql-phancong .noidung-ql-phancong{
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 6px 18px rgba(18, 117, 255, 0.06);
    border-radius: 4px;
}



/* Nội dung phân công */
.noidung-ql-phancong .trang-phancong-gvsv {
    gap: 30px;
}

.trang-phancong-gvsv .chon-loai-phancong {
    margin: auto;
    /* gap: 20px; */
    align-items: center;
    background-color: #a3a19d;

}

.trang-phancong-gvsv .chon-loai-phancong .chon{
    width: 175px;
    font-size: 13px;
    padding: 7px 16px 8px;
    text-align: center;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.trang-phancong-gvsv .chon-loai-phancong .chon:hover {
    background-color: #33ce2b;
}

.trang-phancong-gvsv .chon-loai-phancong .phancong-ngaunhien,
.trang-phancong-gvsv .chon-loai-phancong .phancong-thucong{
    background-color: #28a745;
}


.trang-phancong-gvsv .khung-phancong-gvsv {
    gap: 20px;

}

.khung-phancong-gvsv .khung-phancong-ngaunhien,
.khung-phancong-gvsv .khung-phancong-thucong {
    width: 100%;
}

.khung-phancong-gvsv .khung-phancong-ngaunhien,
.khung-phancong-gvsv .khung-phancong-thucong{
    gap: 30px;
}

.khung-phancong-ngaunhien .khung-ds-nguoidung,
.khung-phancong-thucong .khung-ds-nguoidung{
    flex: 1;
    gap: 15px;
    justify-content: space-between;
}

.khung-ds-nguoidung .khung-ds{
    flex: 1;
    border: 1px solid #ccc;

}


.khung-ds-nguoidung .khung-ds .tieude-menu{
    padding: 8px 10px;
    background-color: #707a72;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
}

.khung-ds-nguoidung .khung-ds .tieude-menu span{
    font-weight: bold;
}

.khung-ds-nguoidung .khung-ds .ds-nguoidung{
    height: 100%;
}

.khung-ds-nguoidung .khung-ds .ds-nguoidung tr{
    width: 100%;
    display: flex;
    table-layout: fixed;
}
.khung-ds-nguoidung .khung-ds .ds-nguoidung tr th,
.khung-ds-nguoidung .khung-ds .ds-nguoidung tr td{
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    font-size: 13px;
}

.khung-ds-nguoidung .khung-ds .ds-nguoidung tr th{
    background-color: #f5f5f5;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.khung-ds .ds-nguoidung tbody tr:hover{
    background-color: #d7dce0;
}

.khung-ds .ds-nguoidung tr .cot-stt{
    width: 50px;
    text-align: center;
}

.khung-ds .ds-nguoidung tr .cot-chon{
    width: 50px;
    gap: 5px;
    align-items: center;
    text-align: left;
    cursor: pointer;
}

.khung-ds .ds-nguoidung tr .cot-chon input[type="checkbox"],
.khung-ds .ds-nguoidung tr .cot-chon label{
    cursor: pointer;
}


.khung-ds .ds-nguoidung tr .cot-ten{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.khung-ds .ds-nguoidung tr .cot-hhhv,
.khung-ds .ds-nguoidung tr .cot-msv{
    flex: 1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.khung-ds-nguoidung .khung-ds .ds-nguoidung ul{
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 8px;
}



.khung-phancong-ngaunhien .khung-chucnang-phancong,
.khung-phancong-thucong .khung-chucnang-phancong{
    gap: 20px;
    align-items: flex-end;
}

.khung-phancong-ngaunhien .khung-chon-hocky,
.khung-phancong-thucong .khung-chon-hocky{
    gap: 10px;
    align-items: center;
    font-size: 14px;
}
.khung-chon-hocky label{
    color: #fb5d4e;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    white-space: nowrap;
}
.khung-chon-hocky .chon-hocky-phancong{
    width: 80px;
    text-align: center;
    padding: 5px 10px;
    font-size: 13px;
    outline: none;
    cursor: pointer;
    border: 1px solid #ccc;
}

.khung-phancong-ngaunhien .khung-tienhanh-phancong .nut-phancong,
.khung-phancong-thucong .khung-tienhanh-phancong .nut-phancong{
    padding: 8px 14px;
    background-color: #158aff;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.khung-phancong-ngaunhien .khung-tienhanh-phancong .nut-phancong:hover,
.khung-phancong-thucong .khung-tienhanh-phancong .nut-phancong:hover{
    background-color: #006fe6;
}
.khung-phancong-ngaunhien .khung-tienhanh-phancong .nut-phancong.disabled,
.khung-phancong-thucong .khung-tienhanh-phancong .nut-phancong.disabled{
    cursor: not-allowed;
    background-color: #a0cfff;
}



/* Danh sách phân công */
.danh-sach-phan-cong{
    gap: 20px;
}

.danh-sach-phan-cong .khung-chucnang{
    gap: 20px;
}

.danh-sach-phan-cong .khung-chucnang .khung-chon-hocky,
.danh-sach-phan-cong .khung-chucnang .khung-timkiem{
    gap: 10px;
    align-items: center;
    font-size: 14px;
}

.danh-sach-phan-cong .khung-chucnang .khung-chon-hocky label,
.danh-sach-phan-cong .khung-chucnang .khung-timkiem label{
    white-space: nowrap;
    font-weight: 600;
}

.danh-sach-phan-cong .khung-chucnang .khung-chon-hocky select{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.danh-sach-phan-cong .khung-chucnang .khung-timkiem input{
    min-width: 250px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
.danh-sach-phan-cong .khung-danhsach .bang-ds {
    width: 100%;
    border-collapse: collapse;
}
.danh-sach-phan-cong .khung-danhsach .bang-ds tr{
    font-size: 13px;
}

.danh-sach-phan-cong .khung-danhsach .bang-ds tr th,
.danh-sach-phan-cong .khung-danhsach .bang-ds tr td{
    padding: 8px 12px;
    text-align: center;
    border: 1px solid #e0e0e0;
}
.danh-sach-phan-cong .khung-dieukhien{
    justify-content: space-between;
    align-items: center;
}

.danh-sach-phan-cong .khung-dieukhien .khung-phantrang{
    gap: 5px;
}

.danh-sach-phan-cong .khung-dieukhien .khung-phantrang button{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

.danh-sach-phan-cong .khung-dieukhien .khung-phantrang button.active{
    background-color: #007bff;
    color: white;
}

.danh-sach-phan-cong .khung-dieukhien .nut-xuat-excel{
    padding: 8px 12px;
    font-size: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}



@media (max-width: 1200px) {
    .khung-ql-phancong {
        flex-direction: column;
    }

    .khung-ql-phancong .menu-ql-phancong {
        width: 100%;
        min-width: unset;
        flex-direction: row;
    }

    .khung-ql-phancong .menu-ql-phancong .tieude-menu{
        border-bottom: none;
        border-right: 2px solid #ffefef;
     }

    .khung-ql-phancong .menu-ql-phancong ul {
        flex-direction: row;
    }

    .khung-ql-phancong .menu-ql-phancong ul li .muc-menu,
    .khung-ql-phancong .menu-ql-phancong ul li .muc-menu-active {
        white-space: nowrap;
    }

    .khung-phancong-ngaunhien,
    .khung-phancong-thucong {
        width: 100%;
        flex-direction: column;
    }

}


@media (max-width: 768px) {
   
    .khung-ql-phancong .menu-ql-phancong .tieude-menu{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .khung-ds-nguoidung {
        flex-direction: column;
    }
}


@media (max-width: 510px) {
    .khung-ql-phancong .menu-ql-phancong{
        flex-direction: column;
    }
    .khung-ql-phancong .menu-ql-phancong ul{
        flex-direction: column;
    }
    .khung-ql-phancong .menu-ql-phancong .tieude-menu{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 2px solid #ffefef;
        border-right: none;
    }
}