
.trang-dang-nhap{
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}


.trang-dang-nhap .trai{
    min-width: 450px;
    min-height: max-content;
    background-color: #ffffff;
}
.trang-dang-nhap .phai{
    min-width: 350px;
    min-height: max-content;
    background-color: #ffffff;
}

.trang-dang-nhap .giua{
    width: 100%;
    background-color: #ffffff;
}

.trang-dang-nhap .khung-noidung{
    border: 1px solid #68a7ff;
}


.khung-noidung .tieude-khung{
    padding: 8px 20px 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #2b83ff;
}

.khung-noidung .noi-dung-trai,
.khung-noidung .noi-dung-phai{
    gap: 25px;
    padding: 20px 15px 20px 12px;
    align-content: flex-start;
}

.khung-noidung .form-dang-nhap{
    height: 100%;
    gap: 15px;
    justify-content: center;
    padding: 20px 15px;
    /* background-color: #68a7ff; */
}


.form-dang-nhap .khung-nhap{
    width: 325px;
    margin: 0 auto;
    padding: 5px 12px;
    gap: 10px;
    align-items: center;
    border: 1px solid #0050c0;
    background-color: #ffffff;
    border-radius: 3px;
}


.form-dang-nhap .khung-nhap input{
    width: 100%;
    padding: 8px 0 5px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: transparent;
}

.form-dang-nhap .khung-nhap label i{
    color: #0084ff;
    font-size: 19px;
}

.form-dang-nhap .khung-nhap i{
    font-size: 17px;
    color: #0084ff;
    cursor: pointer;
}

.form-dang-nhap .khung-nho-tai-khoan{
    width: 325px;
    margin: 5px auto 0;
    gap: 10px;
    align-items: center;
}


.form-dang-nhap .khung-nho-tai-khoan label{
    margin-bottom: 2px;
    font-weight: 400;
    color: #002e6f;
    cursor: pointer;
}
.form-dang-nhap .khung-nho-tai-khoan .nho-tai-khoan{
    margin-left: 2px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.form-dang-nhap .khung-chucnang{
    width: 325px;
    margin: 10px auto 0;
    padding: 5px 0;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.form-dang-nhap .khung-chucnang .nut-dang-nhap{
    width:  250px;
    padding: 12px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #2294ff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.form-dang-nhap .khung-chucnang .nut-dang-nhap:hover{
    background-color: #0066ff;
}

.form-dang-nhap .khung-chucnang .lienket-quenmk{
    font-size: 15px;
    color: #005fe5;
    text-decoration: none;
}

.form-dang-nhap .khung-chucnang .lienket-quenmk:hover{
    text-decoration: underline;
}


.noi-dung-phai .lien-ket{
    gap: 10px;
    align-items: center;
    
}

.noi-dung-phai .lien-ket .lien-ket-anh{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.noi-dung-phai .lien-ket .lien-ket-ten{
    font-size: 16px;
    color: #002e6f;
    font-weight: 500;
    text-decoration: none;
}

.noi-dung-phai .lien-ket .lien-ket-ten:hover{
    text-decoration: underline;
}