#root {
  min-width: 500px;
  min-height: 100vh;
  margin: auto;
  
  padding: 0 100px;
  background-image: url("https://res.cloudinary.com/dpkysexsr/image/upload/c_crop,ar_4:3/v1762735002/background_logo_tr%C6%B0%C6%A1ng_jxllbv.jpg");
  background-size: cover; 
  background-position: bottom center; 
  background-repeat: no-repeat;

  
  --mau-nen-sidebar: #2b83ff;
  --mau-chu-sidebar: #ffffff;
  --mau-nen-active: #ffc107;
  --mau-vien: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s; 
}

@media (max-width: 1400px) {
    #root{
        padding: 0 30px;
    }
}

@media (max-width: 1150px) {
    #root {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    #root {
        padding: 0 20px;
    }
}
